<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="a website that will help you find a restaurant near you to satisfy your hunger">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HangerApps</title>
  </head>
  <body>
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <header>
      <a href="#" class="header__title">HungerApps</a>
      <button id="hamburgerButton" aria-label="menu">☰</button>
      <nav-bar></nav-bar>
    </header>
    <hero-section></hero-section>
    <main id="mainContent"></main>
    <footer>
      <p>Made with ❤️ from Karawang @ 2022 - HungerApps</p>
    </footer>
  </body>
</html>
