<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HangerApps</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
      <nav-bar></nav-bar>
    </header>
    <hero-section></hero-section>
    <main id="maincontent">
      <h1 class="main__title">Explore Restaurant</h1>
      <restaurant-list></restaurant-list>
    </main>
    <footer>
      <p>Made with ❤️ from Karawang | Copyright @ 2022 - HungerApps</p>
    </footer>
  </body>
</html>
