@media screen and (min-width: 768px) {
  header {
    position: static;
  }
  #menu {
    display: none;
  }
  nav-bar {
    margin-left: auto;
    background-color: transparent;
    display: flex;
    position: static;
    padding: 0;
    width: fit-content;
  }
  nav-bar nav ul {
    display: flex;
  }

  restaurant-list {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 16px;
  }
  .restaurant__thumbnail {
    height: 200px;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 0.25rem 4rem;
  }
  main {
    max-width: 1200px;
  }
  .hero__inner {
    padding-left: 9rem;
  }

  restaurant-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .restaurant__info {
    padding: 1rem 1.25rem;
  }
}
